
{{> header}}
{{#if buys}}
<div id="cartContainer" onclick="getTheSubtotal(event)">
  <h1 class="formTitle">Количка</h1>
  <div class="titleLine"></div>

  <div id="cartProductsContainer">
    <table>
      <tbody>
        {{#each buys}}
        <tr>
          <td>
            <img
              src={{image}}
              class="rowImage">
          </td>
          <td>
            <div class="textInfo">

              <h4>
                <a>{{title}}</a>
              </h4>
            </div>
          </td>


          <td
            onclick="changeProductQuantity(event,{{price}})"
            class="rightTableContainer
            quantityContainer">

            <button>-</button>
            <input oninput="addToPrice(event,{{price}})" value="1"
              minlength="1" maxlength="2" size="2" max="12"
              min="1" class="quantityInput">
            <button>+</button>

          </td>

          <td class="rightTableContainer productPrice">
            <span>{{price}}лв</span>

          </td>

          <td class="rightTableContainer removeFromList">
            <a href="/remove/{{productId}}"
              onclick="removeProductFromCart(event)">
              X
            </a>
          </td>

        </tr>
        {{/each}}

      </tbody>
    </table>


  </div>

  <div id="cartInfo">
    <div>
      <ul>
        <li>

          <div class="cartInfoLeft">
            Междинна сума:
          </div>

          <div class="cartInfoRight">
            {{#if subtotal}}
            {{subtotal}}лв
            {{else}}
            0лв
            {{/if}}
          </div>

        </li>
        <li>
          <div class="cartInfoLeft">
            Доставка:
          </div>

          <a class="cartInfoRight addAddress"
            onclick="showCartAdressInfo(event)">
            + добави
          </a>
          <br>
          <div id="cartInfoAddressContainer" style="display: none;">
            <form>
              <label for="personName">Име и Фамилия</label>
              <br>
              <input name="personName" type="text">
              <br>
              <label for="province">Област</label>
              <br>
              <input name="province" type="text">
              <br>
              <label for="address">Адрес</label>
              <br>
              <input name="address" type="text">
              <br>
              <label for="phoneNumber">тел. номер</label>
              <br>
              <input pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" name="phoneNumber"
                type="tel">

            </form>
          </div>

        </li>

        <br>
        <li>
          <div class="cartInfoLeft">
            Общо:
          </div>
          <div class="cartInfoRight">
            {{#if sumWithDelivery}}
            {{sumWithDelivery}}лв
            {{else}}
            0лв
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <button onclick="buyTheCart(event)" class="buyCartButton">Поръчай</button>
  {{else}}
  <div id="emptyCartContainer">
    <h1>Количката е празна</h1>
    <img src="../../images/emptyCart.png">
  </div>
  {{/if}}

</div>
{{> footer}}