

{{> header}}


<main>
    <div class="wrap">
    {{!--     <div class="category" onclick="showCategory(event)">
            <div>
                <div class="categoryLine"></div>
                <div class="categoryLine"></div>
                <div class="categoryLine"></div>
            </div>
        </div>
        <div id="categoryDropDown" style="display:none;">
            <a onclick="navigateHandler(event)" href="/kosmosShop">Всички</a>
            {{#each categories}}
            <div
                class="categoryContainer">
                <a style="cursor: pointer;"
                    onclick="showSubCategoryContiner(event)">{{categoryName}}&#10148;
                </a>
                <div
                    class="subCategory" style="display: none;">
                       
                    <a style="cursor:
                        pointer;"
                    onclick="productsByCategory(event)">{{categoryName}}
                </a>
                    {{#each this.subcategories}}

                    <a onclick="productsByCategory(event)" style="cursor:
                        pointer;">{{this.subcategoryName}}</a>

                    {{/each}}
                </div>
            </div>
            {{/each}}
            <br />
        </div> --}}

        <div class="search">
            <input type="text" class="searchTerm"
                placeholder="Какво търсите ?">
            <button onclick="searchProducts(event)" type="submit"
                class="searchButton">
                <img src="../../images/waterDrop.png">
            </button>
        </div>
    </div>
    <div id="posts" {{!-- onclick="navigateHandler(event)" --}}>
        {{#each products}}
        {{#if isOffer}}
        <div onclick="navigateHandler(event)" class="post">
            <h1>{{title}}</h1>
            <a href="/details/{{productId}}">

                <a href="/details/{{productId}}">
                    <img class="product-Image"
                        src={{image}}>
                    <div class="middle">
                        <div class="textButton">Купи {{title}} за
                            {{price}}лв</div>
                    </div>
                </a>
                <h1 style="text-decoration:line-through;">{{price}}лв</h1>
                <h1 style="font-size:20px">{{newPrice}}лв</h1>

            </a>
        </div>
        {{/if}}
        {{/each}}
        {{#each products}}
        {{#if isOffer}}
        {{else}}
        <div onclick="navigateHandler(event)" class="post">
            <h1>{{title}}</h1>
            <a href="/details/{{productId}}">

                <a href="/details/{{productId}}">
                    <img class="product-Image"
                        src={{image}}>
                    <div class="middle">
                        <div class="textButton">Купи {{title}} за
                            {{price}}лв</div>
                    </div>
                </a>
                <h1 style="font-size:20px">{{price}}лв</h1>

            </a>
        </div>
        {{/if}}
        {{else}}
        <div class="notFound">
            <img src="../../images/notFound.png">
            <h1>Няма намерени продукти</h1>

        </div>
        {{/each}}

    </main>
    {{> footer}}