

{{> header}}


<main>
    <div class="wrap">
        <div class="category" onclick="showCategory(event)">
            <div>
                <div class="categoryLine"></div>
                <div class="categoryLine"></div>
                <div class="categoryLine"></div>
            </div>
        </div>
        <div id="categoryDropDown" style="display:none;">
            <a onclick="navigateHandler(event)" href="/kosmosShop">Всички</a>
            {{#each categories}}

            <a onclick="productsByCategory(event)" href="/{{name}}">{{name}}</a>
            {{/each}}
            <br />
        </div>

        <div class="search">
            <input type="text" class="searchTerm"
                placeholder="Какво търсите ?">
            <button onclick="searchProducts(event)" type="submit"
                class="searchButton">
                <img src="../../images/waterDrop.png">
            </button>
        </div>
    </div>
    <div id="posts" onclick="navigateHandler(event)">
        {{#each products}}
        <div onclick="navigateHandler(event)" class="post">
            <h1>{{title}}</h1>
            <a href="/details/{{productId}}">

                <a href="/details/{{productId}}">
                    <img class="product-Image"
                        src={{image}}>
                    <div class="middle">
                        <div class="textButton">Купи {{title}} за
                            {{price}}лв</div>
                    </div>
                </a>
                <h1>{{price}}лв</h1>

            </a>
        </div>
        {{else}}
        <div class="notFound">
            <img src="../../images/notFound.png">
            <h1>Няма намерени продукти</h1>

        </div>
        {{/each}}

    </main>
    {{> footer}}