
{{> header}}
<div class="formContainer">
  <h1 class="formTitle">Създай продукт</h1>
  <div class="titleLine"></div>

  <form class="authForm" id="createForm" onsubmit="createForm(event)">

    <div>
      <label for="name"><b>Име на продукт</b></label>
      <br>
      <input type="text" id="name"
        name="name" required>
      <br>
      <label for="brand"><b>Марка</b></label>
      <br>
      <input type="text" id="brand"
        name="brand" required>
      <br>
      <label for="type"><b>Вид на продукт</b></label>
      <br>

      <select name="" id="selectCategory">
        <option value="">--категория--</option>
        {{#each categories}}
        <option value={{name}}>{{name}}</option>
        {{/each}}
      </select>
      <div id="addCategoryButtonContainer">
        <a onclick="showAddCategory(event)" style="cursor: pointer;">
          <span>
            +
          </span>
          <span style="display: none;" id="addCategoryButton">
            Добави категория
          </span>
        </a>
      </div>
      <div id="addCategoryContainer" style="display: none;">
        <label for="newCategory">Име на категория</label>
        <input type="text" id="newCategoryName">
        <button onclick="addCategory(event)">Добави</button>
      </div>
      <div id="removeCategoryContainer">

        <span onclick="showRemoveList(event)">
          премахни категория
        </span>
        <span id="removeList" style="display: none;">
          {{#each categories}}

          <option onclick="removeCategoryName(event)" id="{{categoryId}}"
            value={{name}}>{{name}}</option>

          {{/each}}
        </span>
      </div>
      <br>
      <label for="price"><b>Цена</b></label>
      <br>
      <input type="double" id="price" name="price">
      <br>
      <label for="quantity"><b>Количество</b></label>
      <br>
      <input type="double" id="quantity" name="quantity">
      <br>
      <label for="description"><b>Описание</b></label>
      <br>
      <input type="text" id="description" name="description">
      <br>
      <label for="imgUrl"><b>Линк към снимка на продъкта</b></label>
      <br>
      <input type="url" id="imgUrl" placeholder="https://примеренАдрес.jpg"
        name="imgUrl" required>
      <br>
      <br>
    </div>
    <div>
      <button class="authButton" type="submit">Създай</button>
    </div>
  </form>

</div>

{{> footer}}