{{> header}}
<div id="detailsWrapper" onload="window.scrollTo(0, 350);">
    <div id="detailsContant">
        <div id="imgContainer">
                <img id="detailsImage"
                    src="{{image}}"
                    alt="">
        </div>
                <div id="detailsInfo">
<h1>{{title}}</h1>
<div id="line"></div>
<h2>Цена: {{price}}лв</h2>
<p>{{description}}</p>
<div>
    {{#if isAdmin}}
    <a onclick="requestDelete(event)" href="/delete/{{productId}}">
<button class="buyButton">Изтрий</button>
    </a>
    <a onclick="navigateHandler(event)" href="/edit/{{productId}}">
<button class="buyButton">Редактирай</button>
    </a>
    {{else}}
    <a onclick="addToCart(event)" href="/buy/{{productId}}">
<button class="buyButton">Купи</button>
    </a>
    {{/if}}
</div>

                </div>
        </div>
    </div>

</div>
{{> footer}}